@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css?family=Raleway::400,500,600,700');
body{
  background-image: url('https://i.ytimg.com/vi/8BLf_CeOBas/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: raleway;
}
::-webkit-scrollbar {
  display: none;
}
.client-page-notification {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  background-color: transparent;
  width: 100%;
  box-shadow: 0px 7px 21px 9px #2d2d2d69;
  background: linear-gradient(181deg, rgba(153, 218, 255, 0) 0%, rgb(0, 0, 0) 100%);
}
.notifcation-wrapper{
  width: 100%;
  background-color: transparent;
  position: relative;
}
.notification-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.play-icon-wrapper{
  position: absolute;
  top: -96px;
  left: 35px;
}
.play-icon-wrapper i{
  font-size: 90px;
  color: white;
  text-shadow: 0px 0px 10px white;
}
.Now-Playing-text{
  padding-left:35px;
  margin-top: 50px;
}
.Now-Playing-text p{
  color: white;
  font-size: 13px;
}
.Playlist-name-text{
  padding-left:35px;
}
.Playlist-name-text p{
  color: white;
  font-size: 30px;
  margin-top: 0px;
}
.downloading-section{
  height: 100px;
  width: 350px;
  position: absolute;
  right: 0px;
  top: -25px;
  border-left: 2px solid #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.downloading-icon-wrapper{
  display: inline-block;
  padding: 0px 20px;
}
.downloading-icon-wrapper i{
  color: white;
  font-size: 50px;
  text-shadow: 0px 0px 10px white;
}
.downloading-text{
  width: 170px; 
  overflow: hidden;
}
.downloading-text p{
  color: white;
  font-size: 25px;
}
.hidden{
  opacity: 0;
}
.btn-design{
  position: absolute;
  top: 50px;
  left: 42vw;
  min-width: 200px;
  padding: 15px 25px;
  background-color: #880718;
  border: 1px solid #880718;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  height: auto;
}
